.contentHeader {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    font-family: 'Poppins', 'Segoe UI', 'Roboto', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.4em;
    font-weight: 700;
    color: #111;
}
.highlight {
    color: #0073e6; /* bleu pro */
}

.menu {
    display: flex;
    gap: 25px;
    padding: 8px 25px;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 50px;

}
.menu a {
    color: #333;
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 500;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: #0073e6;
    transform: scale(1.08);
}
.highlight {
    color: rgb(4, 0, 255); 
}
.btn-contact {
    padding: 8px 18px;
    border: 1px solid #0073e6;
    border-radius: 25px;
    background: #0073e6;
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-contact:hover {
    background: #005bb5;
    border-color: #005bb5;
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
